/*@import './styles/App.css';*/
/*@import './styles/AroundMarker.css';*/
/*@import './styles/Header.css';*/
/*@import './styles/Home.css';*/
/*@import './styles/Login.css';*/
/*@import './styles/Main.css';*/
/*@import './styles/Register.css';*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
